<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - StartLauncher Sonar way" ToolsVersion="16.0">
  <Include Path="..\.sonarlint\kowalskipiotr98_startlaunchercsharp.ruleset" Action="Default" />
  <Include Path="..\.sonarlint\kowalskipiotr98_startlaunchercsharp.ruleset" Action="Default" />
</RuleSet>